$theme-colors: (
  "primary": #F92F60,
);

@import "node_modules/bootstrap/scss/bootstrap";

.white-text {
    color: white !important;
}

.home-page-button {
  width: 30% !important;
}

.card-tile {
  color: #212529;
  text-decoration: none;
}

.card-tile:hover {
  color: #212529 !important;
}